<div id="container">
  <div id="part1">
    <div id="companyinfo" ><a id="sitelink">EWALI FOOD</a>
      <p id="detail" class="mb-2">Đến với chúng tôi , các bạn có thể mua những món ăn ngon với mức giá rẽ nhất !!! </p>
    </div>
    <div id="explore">
      <p id="txt1">Liên kết</p> <a class="link" href="http://localhost:4200/home">Trang chủ</a> <a class="link" href="http://localhost:4200/home">Hướng dẫn</a>
    </div>
    <div id="visit">
      <p id="txt2">Thông tin liên hệ</p>
      <p class="text">Email chúng tôi: dungsumo18993@gmail.com</p>
      <p class="text">Số điện thoại: (028)-3621245</p>
      <p class="text">Địa chỉ: 302 Ngũ Hành Sơn, P. Mỹ An, TP. Đà Nẵng</p>
    </div>
    <div id="legal">
    </div>
    <div id="subscribe">
      <p id="txt5">Tương tác</p> <i class="fab fa-facebook-square social fa-2x"></i> <i class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
    </div>
  </div>
  <div id="part2" style="text-align: center">
    <p id="txt6"><i class="material-icons tiny"> copyright</i>Copyright 2021 A Foody Corporation - All right reserved</p>
  </div>
</div>
